<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/d7a11833-e1d0-443c-8ae6-b8597ea0af24/resourceGroups/BattleshipGame20210126082316ResourceGroup/providers/Microsoft.Web/sites/BattleshipGameWebApp</ResourceId>
    <ResourceGroup>BattleshipGame20210126082316ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://battleshipgamewebapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SCMUrl>https://battleshipgamewebapp.scm.azurewebsites.net/</SCMUrl>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>4e404f2c-6531-4c16-a7e0-cc5a230b716f</ProjectGuid>
    <MSDeployServiceURL>waws-prod-sn1-173.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BattleshipGameWebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$BattleshipGameWebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>